		.swnu	{font-family:arial,san-serif;font-size:11px;color:#ffffff;text-decoration:none;}
		.sb		{font-family:arial,san-serif;font-size:11px;color:#003366;}
		.bnu	{font-family:arial,san-serif;color:#003366;font-size:13px;text-decoration:none;}
		.sbnu	{font-family:arial,san-serif;font-size:11px;color:#003366;text-decoration:none;}
		.snub	{font-family:arial,san-serif;font-size:11px;color:#000000;text-decoration:none;}
		.snu	{font-family:arial,san-serif;font-size:11px;text-decoration:none;}
		.sw		{font-family:arial,san-serif;font-size:11px;color:#ffffff;}
		.s		{font-family:arial,san-serif;font-size:11px;}
		.swnub	{font-family:arial,san-serif;font-size:11px;font-weight:BOLD;color:#FFFFFF;text-decoration:none;}
		.sbnub	{font-family:arial,san-serif;font-size:11px;font-weight:BOLD;color:#003366;text-decoration:none;}
		.sbd	{font-family:arial,san-serif;font-size:11px;font-weight:BOLD;}
		.swb	{font-family:arial,san-serif;font-size:11px;font-weight:BOLD;color:#FFFFFF;}
		.sbbd	{font-family:arial,san-serif;font-size:11px;font-weight:BOLD;color:#003366;}
		.fwnu	{font-family:arial,san-serif;color:#ffffff;text-decoration:none;}
		.fnu	{font-family:arial,san-serif;color:#000000;text-decoration:none;}
		.fw		{font-family:arial,san-serif;color:#ffffff;}
		.fk		{font-family:arial,san-serif;color:#6699cc;}
		.fkb	{font-family:arial,san-serif;color:#330033;FONT-WEIGHT: bold;}
		.f		{font-family:arial,san-serif;}
		.flb	{font-family:arial,san-serif;font-size:13px;font-weight:BOLD;color:#000000;}
		.pbnu	{font-family:arial,san-serif;font-size:11px;color:#000000;text-decoration:none;}
		.bttn	{border-style:outset;border-color:#9999cc;border-width:2px;background-color:#949ead;}
		.transactionDark {border-color:#333366;border-style:solid;border-width:1px;}
		.transactionLight {border-color:#336699;border-style:solid;border-width:1px;}
		.error{COLOR: Red;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 12px;FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.clMainRed{COLOR: #990033;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 12px;FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.Rubsvart{COLOR: #000000;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 13px;FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.RubMainBig{COLOR: White;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 12px;FONT-WEIGHT: bold;TEXT-DECORATION: none;}
		.RubMain{COLOR: #990033;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 20px;FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.TextMainold{COLOR: #003366;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 16px;FONT-WEIGHT: bold;TEXT-DECORATION: none;}
		.TextMain{COLOR: #F1D90D;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 15px; FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.TextMainW{COLOR: #ffffff;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 22px; FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.TextMainRed{COLOR: Red;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 12px; FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.TextMainb{COLOR: #555656	;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 11px; FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.TextMainbl{COLOR: Black;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 11px; FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.TextMainb2{COLOR: #000000	;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 11px; FONT-WEIGHT: bold;TEXT-DECORATION: none}		
		.TextMainbr{COLOR: #339933;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 11px; FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.TextMaingr{COLOR: #006600;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 13px; TEXT-DECORATION: none}
		.TextMainp{COLOR: Black;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 12px; TEXT-DECORATION: none}
		.TextMainc{COLOR: black;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 12px; TEXT-DECORATION: none}
		.TextMaino{COLOR: #ff6600;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 12px; TEXT-DECORATION: none}
		.TextMaing{COLOR: Black;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 13px; TEXT-DECORATION: none}
		.TextMaingb{COLOR: Black;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none}
		.TextMaind{COLOR: #cc0000;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 15px; FONT-WEIGHT: bold; TEXT-DECORATION: none}
		
		.TextMainx{COLOR: #555656	;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 12px; FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.TextMainx1{COLOR: #5B6161	;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 12px; FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.TextMainx2{COLOR: #555656	;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 11px; FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.TextMainx3{COLOR: #ffffff	;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 12px; FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.TextMainx4{COLOR: #EF7910	;FONT-FAMILY: Georgia, Times, Verdana, Helvetica, Helv;FONT-SIZE: 11px; FONT-WEIGHT: bold;TEXT-DECORATION: none}		
		
		
		.TextMainLittle{COLOR: #000000;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 11px;TEXT-DECORATION: none}
		.TextMainAdd{COLOR: #990000;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 20px; FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.TextMainClose{COLOR: Green;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 20px; FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.TextMainOther{COLOR: #FF00FF;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 20px; FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.RubMainRed{COLOR: #990033;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 14px;FONT-WEIGHT: bold;TEXT-DECORATION: none; }
		.RubMainRedLink{COLOR: #990033;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 14px;FONT-WEIGHT: bold;TEXT-DECORATION: none}
		.SubMenuWhite{COLOR: #ffffff;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 13px;TEXT-DECORATION: none}
		.SubMenuWhiteBold{COLOR: #ffffff;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 12px;TEXT-DECORATION: none}
		.SubMenuBlue{COLOR: Blue;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 14px;FONT-WEIGHT: bold;TEXT-DECORATION: none}
		P.bordersbold {border: 1px solid 6699cc;padding: 0;border-style:groove;border-width:2px;font-weight:bold;}
		a.one:link {COLOR: Blue;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 13px}
		a.one:visited {color: #ff0000; FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 13px}
		a.one:hover {color: #ffcc00; FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 13px}
		A.nav1:link{COLOR: #003366;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: underline}
		A.nav1:hover{COLOR: #990033! important;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: underline}
		A.nav1:visited{COLOR: #003366;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: underline}
		A.nav1:active{COLOR: #990033;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: underline}
		A.nav2:link{COLOR: #000000;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: underline}
		A.nav2:visited{COLOR: #000000;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: underline}
		A.nav2:active{COLOR: #000000;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: underline}
		A.nav2:hover{COLOR: #990033;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: underline}
		A.nav3:link{COLOR: #003366;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: none}
		A.nav3:visited{COLOR: #003366;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: none}
		A.nav3:active{COLOR: #003366;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: none}
		A.nav3:hover{COLOR: #990033;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: underline}
		.Graytext{COLOR: #ffffff;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 12px;TEXT-DECORATION: none}
		A.nav4:link{COLOR: #ffffff;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: none}
		A.nav4:visited{COLOR: #ffffff;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: none}
		A.nav4:active{COLOR: #ffffff;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: none}
		A.nav4:hover{COLOR: #cccccc;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: underline}
		A.nav5:link{COLOR: #cccccc;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: none}
		A.nav5:visited{COLOR: #cccccc;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: none}
		A.nav5:active{COLOR: #cccccc;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: none}
		A.nav5:hover{COLOR: #ffffff;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: underline}
		A.nav6:link{COLOR: #000000;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 10px;TEXT-DECORATION: none}
		A.nav6:visited{COLOR: #000000;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 10px;TEXT-DECORATION: none}
		A.nav6:active{COLOR: #000000;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 10px;TEXT-DECORATION: none}
		A.nav6:hover{COLOR: #ff0000;FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;FONT-SIZE: 10px;TEXT-DECORATION: underline}
		A:link{COLOR: #5B5B5C;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;TEXT-DECORATION: none}
		A:visited{COLOR: #5B5B5C;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;TEXT-DECORATION: none}
		A:active{COLOR: #5B5B5C;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;TEXT-DECORATION: none}
		A:hover{COLOR: #000000;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;TEXT-DECORATION: underline}
		IMG.clsImgButton{MARGIN-TOP: 3px}
		.clsTocHead{FONT: bold 65% arial,verdana,helvetica,sans-serif}
		DIV.clsTocHead{MARGIN-TOP: 2px}
		TD.clsLNSubItems A{FONT-FAMILY: arial, verdana, helvetica, sans-serif;FONT-SIZE: 12px;TEXT-DECORATION: underline}
		DIV.clsTocItem DIV{PADDING-BOTTOM: 3px}
		DIV.clsTocItem A{FONT-FAMILY: arial,verdana,helvetica,sans-serif;FONT-SIZE: 9pt;TEXT-DECORATION: underline}
		.dropDown{BACKGROUND-COLOR: #003366;BORDER-BOTTOM: black 1px solid;BORDER-LEFT: black 1px solid;BORDER-RIGHT: black 1px solid;BORDER-TOP: black 1px solid;COLOR: #003366;CURSOR: default;FONT-FAMILY: Verdana, Arial, Helvetica;FONT-SIZE: 10px;LEFT: 310px;PADDING-BOTTOM: 3px;PADDING-LEFT: 3px;PADDING-RIGHT: 3px;PADDING-TOP: 3px;POSITION: absolute;TOP: 105px;VISIBILITY: hidden;WIDTH: 113px;Z-INDEX: 1}
		.SubMenuWhiteMain{font-family:Arial, Verdana, Helvetica, Helv; font-size:11px; text-decoration:none; color:#FFFFFF; font-weight:bold}
     
		INPUT, TEXTAREA, SELECT, OPTION {font-family: Arial, Verdana, Helvetica, sans-serif;padding: 2px;font-size: 12px;color: #1C2751;background-color: #D1D9E9;border: 0px inset #660000;}		
		
		.fid_Input {font-family: Arial, Verdana, Helvetica, sans-serif;padding: 2px;font-size: 12px;color: #921E03;background-color: #ffffff;border: 0px inset #660000;FONT-WEIGHT: bold}		
		.off_wht_Input {font-family: Arial, Verdana, Helvetica, sans-serif;padding: 2px;font-size: 12px;color: #F2F3F5;background-color: #ffffff;border: 0px inset #660000;FONT-WEIGHT: bold}		
				
		.WhtInput {font-family: Arial, Verdana, Helvetica, sans-serif; border:0px; border-bottom:0px solid black ; padding: 0px;font-size: 12px;color: #000000; background-color: #ffffff; FONT-WEIGHT: bold }		
		.AdjInput {font-family: Arial, Verdana, Helvetica, sans-serif; border:0px; border-bottom:1px solid black ; padding: 0px;font-size: 12px;color: #000080; background-color: #fde5c6; FONT-WEIGHT: bold }
		.AdjTextArea {font-family: Arial, Verdana, Helvetica, sans-serif; border:0px; border-bottom:1px solid black; border-left:1px solid black; padding: 0px;font-size: 12px;color: #000080; background-color: #fde5c6; FONT-WEIGHT: bold }
		.AdjSelect {font-family: Arial, Verdana, Helvetica, sans-serif; border:0px; border-bottom:1px solid black ;padding-bottom:0px;padding-top:0px; padding: 0px;font-size: 12px;color: #000080; background-color: #fde5c6;FONT-WEIGHT: bold }
		.AdjOption  {font-family: Arial, Verdana, Helvetica, sans-serif; border:0px; border-bottom:1px solid black ; padding: 0px;font-size: 12px;color: #000000; background-color: #FFFFFF; FONT-WEIGHT: bold }
		.AdjTD {font-family: Arial, Verdana, Helvetica, sans-serif; padding: 0px;font-size: 12px;color: Blue; background-color: #FFFFFF; FONT-WEIGHT:}
		.ADJFlashSelect{COLOR: #000080;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 12px;TEXT-DECORATION: none;background-color: #fde5c6;font-style: normal;font-weight: lighter;border-top: thin dotted #fde5c6;border-right: thin dotted #fde5c6;border-bottom: thin solid #fde5c6;border-left: thin dotted #fde5c6;}
		
		.printInput {font-family: Arial, Verdana, Helvetica, sans-serif; border:0px; border-bottom:1px solid black ; padding: 0px;font-size: 12px;color: #000000; background-color: #FFFFFF; FONT-WEIGHT: normal }
		.printTextArea1 {font-family: Arial, Verdana, Helvetica, sans-serif; border:0px; border-bottom:1px solid black; border-left:1px solid black; padding: 0px;font-size: 12px;color: #000000; background-color: #FFFFFF; FONT-WEIGHT: normal }
		.printSelect1 {font-family: Arial, Verdana, Helvetica, sans-serif; border:0px; border-bottom:1px solid black ; padding: 0px;font-size: 12px;color: #000000; background-color: #FFFFFF;FONT-WEIGHT: normal }
		.printOption1  {font-family: Arial, Verdana, Helvetica, sans-serif; border:0px; border-bottom:1px solid black ; padding: 0px;font-size: 12px;color: #000000; background-color: #FFFFFF; FONT-WEIGHT: normal }
		.printTD {font-family: Arial, Verdana, Helvetica, sans-serif; padding: 0px;font-size: 12px;color: #000000; background-color: #FFFFFF; FONT-WEIGHT: bold}
		.printFont {font-family: Arial, Verdana, Helvetica, sans-serif; padding: 2px;font-size: 12px;color: #000000; background-color: #FFFFFF; FONT-WEIGHT: normal}
		.printTDSmall {font-family: Arial, Verdana, Helvetica, sans-serif; padding: 2px;font-size: 11px;color: #000000; background-color: #FFFFFF; FONT-WEIGHT: bold}

		
.TDinputLabel
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align:left;
	width:25%;
	
}
		
		.RptMainTitle{
	color: #FFFFFF;
	FONT-FAMILY: "Times New Roman";
	FONT-SIZE: 20px;
	font-style : normal;
}
        .RptSubTitle{
	color: #889CA9;
	FONT-FAMILY: Times New Roman;
	FONT-SIZE: 14px;
	background : Olive;
}
         .RptBotTitle{
	color: Olive;
	FONT-FAMILY: Times New Roman;
	FONT-SIZE: 12px;
	background : #004792;
	text-decoration : none;
}
        .RptBackGrd{
	background: #004792;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-style : normal;
}

BODY  { scrollbar-face-color: "#92887A"; 
		scrollbar-shadow-color: "#9999AA";
		scrollbar-highlight-color: "#FDE5C6";
		scrollbar-3dlight-color: "#0000AA"; 
		scrollbar-darkshadow-color: "000000";
		scrollbar-track-color: "#F1F1F1";		
		scrollbar-arrow-color: "#FDE5C6";
}
		.TextMainDisplay {
	COLOR: #000080;
	FONT-FAMILY: Arial, Verdana, Helvetica, Helv;
	FONT-SIZE: 12px;
	TEXT-DECORATION: none;
	background-color: #fde5c6;
	font-style: normal;
	font-weight: lighter;
	border-top: thin dotted #fde5c6;
	border-right: thin dotted #fde5c6;
	border-bottom: thin solid #fde5c6;
	border-left: thin dotted #fde5c6;
}
.TableTitleDisplay {
	FONT-FAMILY: Arial, Verdana, Helvetica, Helv;
	background-color: #6699cc;
	font-style: normal;
}

.FooterMainTitle{COLOR: #990033;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 14px;FONT-WEIGHT: bold;TEXT-DECORATION: none; }
.FooterSubTitle{COLOR: #006600;FONT-FAMILY: Arial, Verdana, Helvetica, Helv;FONT-SIZE: 12px;FONT-WEIGHT: bold; TEXT-DECORATION: none}
